[MASTER]
extension-pkg-whitelist=

[MESSAGES CONTROL]
disable=
    C0103,  # invalid-name
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0613,  # unused-argument
    W0622,  # redefined-builtin

[FORMAT]
max-line-length=120
max-module-lines=1000

[DESIGN]
max-args=10
max-locals=20
max-returns=6
max-branches=15
max-statements=60
